html {
    background-color: #111;
}

.headline {
    font-family: 'Roboto Flex',arial,sans-serif;
    color: #fff;
    text-align: center;
    margin: 0;
    padding: 20px;
    background-color: #151515;
}

.pokeList {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1rem;
    justify-items: center;
    list-style: none;
    padding: 0;
}

.pokeItem {
    margin-bottom: 10px;
}

.pokeBtn {
    font-family: 'Roboto Flex',arial,sans-serif;
    display: block;
    margin: 5px;
    padding: 8px 12px;
    background-color: #222222;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.pokeBtn:hover {
    background-color: #3c3c3c;
}