html {
    background-color: #111;
    font-family: 'Roboto Flex', arial, sans-serif;
    font-size: clamp(12px, 1vw, 20px);
}

.headline {
    font-size: 3rem;
    color: #fff;
    text-align: center;
    margin: 0;
    padding: 20px;
    background-color: #151515;
}

.loadMsg {
    color: #fff;
    font-size: 3em;
    text-align: center;
}

.pokeList {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1rem;
    justify-items: center;
    list-style: none;
    padding: 0;
}

.pokeItem {
    margin-bottom: 1px;
    width: 180px;
    height: 200px;
    overflow: hidden;
}

.pokeImg {
    display: block;
    margin: 0 auto;
}

.pokeBtn {
    display: block;
    margin: 5px;
    padding: 8px 12px;
    background-color: #303030;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1.1rem;
    transition: background-color 0.3s ease;
}

.pokeBtn:hover {
    background-color: #3c3c3c;
}

#modal-container {
    display: none;
}
#modal-container.is-visible {
    position: fixed;
    padding: 20px;
    box-sizing: border-box;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
    overflow: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.modal {
    display: block;
    box-sizing: border-box;
    background: #fff;
    padding: 20px;
    width: 50%;
    max-width: 800px;
    text-align: left;
    border: 2px solid green;
}

.modal-close {
    float: right;
    border: 0;
    background: none;
    color: #777;
    text-decoration: underline;
    cursor: pointer;
}

.modal h1 {
    margin: 5px auto;
    text-transform: uppercase;
}

.modal p {
    margin-top: 10px;
    
}

.modal img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    width: 200px; /* You can adjust the width as needed */
    height: auto;
    margin-top: 20px;
}


@media (min-width: 320px) {
    .pokeList {
        gap: 0.5rem;
    }
}


@media (min-width: 480px) {
    .pokeList {
        gap: 0.7rem;
    }
}

@media (min-width: 768px) {
    .pokeList {
        gap: 0.9rem;
    }
}

@media (min-width: 1024px ) {
    .pokeList {
        gap: 1.1rem;
    }
}